UPDATE [ToursDb].[dbo].[Tour] SET ShortDescription='Take this spectecular half day tour to explore the magnificent prehistoric temples of Malta that offer an unforgettable beautiful experience.' WHERE Id=1;