@using GAPT.Models
@model ViewModelCategory

@{
    Layout = null;
}

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type='text/javascript'>
    function categFun(event, categid) {
        var categId = { id: categid };
        $.ajax({
            async: false,
            type: "POST",
            url: "/Home/SearchCategory",
            data: categId,
        });
    }
</script>

@foreach (var category in Model.Categories)
{
    <li class="selectedcategory" id="@{@category.Id}" onclick="categFun(event,@category.Id)">
        <a href="@Url.Action("Search", "Home")">@category.Name</a>
    </li>
}
