@{
    ViewBag.Title = "Tours-Maltin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--- CSS -->
<link href="~/Content/indexCarousel.css" rel='stylesheet' type='text/css' />
<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<!-- accent margin-->
<div class="accent-margin"></div>

<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 450px; overflow: hidden; visibility: hidden; text-align:center">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height:600px; overflow: hidden;">
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Images/about malta 3.jpg" />
            <div style="position: absolute; top: 30px; left: 30px; width: 600px; height: 120px; font-size: 40px; color: #ffffff; line-height: 40px; text-align:left; font-family:Raleway, Helvetica, sans-serif, Helvetica, sans-serif"><b>Azure Window Boat Trip</b></div>
            <div style="position: absolute; top: 90px; left: 110px; height: 120px; font-size: 40px; color: #ffffff; line-height: 38px; font-family:Infinity, Helvetica, sans-serif, Helvetica, sans-serif">Discover Gozo's Iconic Natural Arch</div>
                     
        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Images/about malta 1.jpg" />
            <div style="position: absolute; top: 30px; left: 30px; width: 600px; height: 120px; font-size: 40px; color: #ffffff; line-height: 40px; text-align:left; font-family:Raleway, Helvetica, sans-serif, Helvetica, sans-serif"><b>Grand Harbour Tour</b></div>
            <div style="position: absolute; top: 90px; left: 110px; width: 480px; height: 120px; font-size: 40px; color: #ffffff; line-height: 38px; font-family:Infinity, Helvetica, sans-serif, Helvetica, sans-serif">One of the World's Grandest</div>

        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Images/temples.jpg" />
            <div style="position: absolute; top: 30px; width: 600px; height: 120px; font-size: 40px;color: #ffffff; line-height: 40px; font-family:   Raleway,Helvetica, sans-serif, Helvetica, sans-serif"><b>Pre-Historic Temples Tour</b></div>
            <div style="position: absolute; top:90px; left: 110px; width: 480px; height: 120px; font-size: 40px; color: #ffffff; line-height: 38px; font-family:Infinity, Helvetica, sans-serif, Helvetica, sans-serif">Witness Ancient History</div>
        </div>
    </div>

    <!--Dropdown and search-->
    <form method="post" action="@Url.Action("Search","Home")" onSubmit="return validatesearchcarousel()">
        <div class="search-area" style="box-shadow:none">
            <div class="search-box" style="box-shadow: 0 0 2em black;">
                <input type="text" name="searchText" class="hidden-sm hidden-xs search-text" id="tourname" placeholder="Search Tour" size="100">    
            </div>
            <div style="padding-left:20px;">
                <a href="@Url.Action("Search","Home")" style="text-decoration:none"><input type="submit" class="search-button hidden-sm hidden-xs" value="Search" style="width:82px; text-decoration:none" /></a>
            </div>
        </div>
        </form>
        <script type="text/JavaScript">
        function validatesearchcarousel() {
        //If the form value is "" (nothing)
            if (document.getElementById("tourname").value == "" && (document.getElementById("category").value == ("default")) ) {
                 return false; //Stop the form from submitting
            }
                return true;
            }
        </script>
       
         <!--bullet navigator item prototype-->
        <div data-u="navigator" class="jssorb05" style="bottom: 16px; right: 16px; width: 68px; height: 16px; left: 616px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->

            <div data-u="prototype" style="width: 16px; height: 16px; position: absolute; left: 0px; top: 0px;" class="av"></div><div data-u="prototype" style="width: 16px; height: 16px; position: absolute; left: 26px; top: 0px;" class=""></div><div data-u="prototype" style="width: 16px; height: 16px; position: absolute; left: 52px; top: 0px;" class=""></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
        <a href="http://www.jssor.com" style="display:none">Slideshow Maker</a>
</div>

<!-- accent margin-->
<div class="accent-margin"></div>

<!--Index under carousel-->
<section class="mason-wrap img-responsive" style="margin-bottom:0px;width:100%; margin: 0 auto;">
    <div class="container" style="margin-right: 0 auto;">
        <div class="col-md-8">
            <div class="row img-responsive">
                <div class="col-md-12 hidden-sm hidden-xs" style="overflow-x:hidden">
                    <div id="m-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 2920px; left: 0px; display: block; transition: all 300ms ease; transform: translate3d(0px, 0px, 0px);">
                                <div class="owl-item" style="width: 730px;">
                                    <div class="item" style="position: relative; display:inline-block">
                                         <img src="~/Images/rsz_mdina.jpg" class="img-responsive" alt="">
                                         <div class="valignmiddle item-overlay2" style="position: absolute; top: 50%; left: 0px; width: 100%; margin-top: -204px;">
                                            <div class="item-overlay2a" style="margin-top:90px">
                                                <h4 style="margin-top:0px"><span>mdina</span>Discover the maltese History</h4>
                                                <p style="margin-bottom:130px;"><a href="#">See More <i class="fa fa-angle-right"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="space30"></div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6" style="display: inline-block;">
                    <div class="m-img" >
                        <img src="~/Images/rsz_popeye.jpg" class="img-responsive" style="padding-bottom: 10px;">
                        <div class="item-overlay2">
                            <h4><span>Family</span></h4>
                            <p><a href="#">See More <i class="fa fa-angle-right"></i></a></p>
                        </div>
                    </div>
                    <div class="space30"></div>
                    <div class="m-img">
                        <img src="~/Images/rsz_segway.jpg" class="img-responsive" alt="">
                        <div class="item-overlay2">
                            <h4><span>&nbsp;Segway Tours&nbsp;</span></h4>
                            <p><a href="#">See More <i class="fa fa-angle-right"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="display:inline-block">
                    <div class="item" >
                        <img src="~/Images/rsz_1hypo3l.jpg" class="img-responsive" alt="">
                        <div class="valignmiddle item-overlay2" style="position: absolute; top: 50%; left: 0px; width: 100%; margin-top: -204px;">
                            <h4 style="padding-right: 2%; padding-left: 2%;"><span>Hypogeum</span>Discover the maltese History<p style="height:40%;"><a href="#"><br><br>See More <i class="fa fa-angle-right"></i></a></p></h4>                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-img" style="width:100%;">
                
                    <img src="~/Images/gardjola.jpg" class="img-responsive" alt="">
 
                <div class="valignmiddle item-overlay2">
                    <div class="item-overlay2a" style="margin-top: 10%;padding-top: 13%;padding-bottom: 11%;">
                        <h4 style="margin-top:0px"><span>Gardjola</span>"The eyes protecting the Maltese Shore"</h4>
                        <p><a href="#">See More <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="space30" style="margin-bottom:0px; display:inline-block"></div>
            <div class="m-img" style="width:100%;">
                <img src="~/Images/rsz_308a.jpg" class="img-responsive" alt="">
                <div class="valignmiddle item-overlay2">
                    <div class="item-overlay2a" style="margin-top: 10%;padding-top: 13%;padding-bottom: 11%;">
                        <h4 style="margin-top:0px"><span>Diving</span><p style="height:0%;margin-bottom:0%;"><a href="#">See More <i class="fa fa-angle-right"></i></a></p></h4>
                        
                    </div>
                </div>
            </div>
            <div class="space30" style="margin-bottom:0px; display:inline-block"></div>
            <div class="video video-sm">
                <iframe src="https://player.vimeo.com/video/161233900" width="100%" height="183" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen" class="video-sm"></iframe> </div>
        </div>
    </div>
</section>

<!-- accent margin-->
<div class="accent-margin"></div>

@* --- integrating custom google map --- *@
<div id="map"></div>
<script src="~/Scripts/g-map.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js" async defer></script>


<!-- accent margin-->
<div class="accent-margin"></div>

<!-- JS scripts -->

<script src="~/Scripts/responsiveslides.min.js"></script>
<script src="~/Scripts/jssor.slider.min.js" type="text/javascript" ></script>
<script src="~/Scripts/indexCarousel.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<!-- use jssor.slider (index carousel) -->
<script>
    jssor_1_slider_init();
</script>

<!-- autocomplete -->
<script type="text/javascript">
    $(function () {
        $("#tourname").autocomplete({
            source: '@Url.Action("GetTours")',
            minLength: 1
        });
    });
</script>

<!-- validate search in carousel-->
@*<script type="text/JavaScript">
    function validatesearchcarousel() {
    //If the form value is "" (nothing)
        if (document.getElementById("tourname").value == "") {
                return false; //Stop the form from submitting
        }
            return true;
        }
</script>*@
