@using GAPT.Models
@model ViewModelAttractionType

<script>
    $(document).ready(function () {
        $(".selectedattr").click(function () {
            $.post('@Url.Action("SearchFilterAttr", "Home")', $('form').serialize(), function (data) {
                $('#searchtours').html(data);
            });
        });
    });
</script>

@foreach (var attractionType in Model.AttractionTypes)
{
    <div class="checkbox" id="@{@attractionType.Id}">
        <label>
            <input type="checkbox" class="selectedattr" name="selectedattr" value="@{@attractionType.Id}">@attractionType.Name
        </label>
    </div>
}