@using GAPT.Models
@model ViewModelAttractionType

<script>
    $(document).ready(function () {
        $(".selectedattr").click(function () {
            $.post('@Url.Action("SearchFilterAttr", "Home")', $('form').serialize(), function (data) {
                $('#searchtours').html(data);
            });
        });
    });
</script>

@foreach (var attractionType in Model.AttractionTypes)
{
    if (Model.selectedattr != null && Model.selectedattr.Contains(attractionType.Id))
    {
        <div class="checkbox" id="@{@attractionType.Id}">
            <label>
                <input type="checkbox" class="selectedattr" name="selectedattr" value="@{@attractionType.Id}" checked>@attractionType.Name
            </label>
        </div>
    }
    else
    {
        <div class="checkbox" id="@{@attractionType.Id}">
            <label>
                <input type="checkbox" class="selectedattr" name="selectedattr" value="@{@attractionType.Id}">@attractionType.Name
            </label>
        </div>
    }

    @*<div class="checkbox" id="@{@attractionType.Id}">
        <label>
            <input type="checkbox" class="selectedattr" name="selectedattr" value="@{@attractionType.Id}">@attractionType.Name
        </label>
    </div>*@
}