@using GAPT.Models
@{
    ViewBag.Title = "Tours-Maltin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12 hidden-sm hidden-xs">
                <ul class="breadcrumb" style="text-align:left;">
                    <li>
                        <a href="@(Url.Action("Index","Home"))">Home</a>
                    </li>
                    <li>Search</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
        _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu" style="margin-top: 1%;padding-top: 2%;padding-left: 2%;">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                @{Html.RenderPartial("SearchCategories", new ViewDataDictionary(ViewData["CategAttrTours"]));}
                            </div>
                        </form>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu" style="margin-top: 1%;padding-top: 2%;padding-left: 2%;">

                    <div class="panel-heading">
                        <h3 class="panel-title">Location Type</h3>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                @{Html.RenderPartial("SearchAttractionTypes", new ViewDataDictionary(ViewData["CategAttrTours"]));}
                            </div>
                        </form>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu" style="margin-top: 1%;padding-top: 2%;padding-left: 2%;">

                    <div class="panel-heading">
                        <h3 class="panel-title">Island</h3>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                @{Html.RenderPartial("SearchIslands", new ViewDataDictionary(ViewData["CategAttrTours"]));}
                            </div>
                        </form>

                    </div>
                </div>


                <div class="panel panel-default sidebar-menu" style="margin-top: 1%; padding-top: 2%;padding-left: 2%;">

                    <div class="panel-heading">
                        <h3 class="panel-title">Price</h3>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                @{Html.RenderPartial("SearchPrice");}
                                @*<div class="form-group" style="width:100%;">
                                    €&nbsp;<input type="text"  class="form-control" id="lowestprice" style="width: 20%;display:inline-block">&nbsp;to&nbsp;€&nbsp;<input type="text" class="form-control" id="highestprice" style="width: 20%;display:inline-block">&nbsp;<button type="submit" class="form-control" id="refineprice" style="width:15%; display:inline-block;border-color:white;padding-left:0px;padding-right:0px;"><i class="fa fa-arrow-right" style="color:#da4d4d"></i></button>
                                </div>*@
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default sidebar-menu" style="margin-top: 1%;padding-top: 2%;padding-left: 2%;">

                    <div class="panel-heading">
                        <h3 class="panel-title">Month</h3>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                @{Html.RenderPartial("SearchMonths");}
                            </div>
                        </form>

                    </div>
                </div>


               

                                <!-- *** MENUS AND FILTERS END *** -->
             </div>

                            <div class="col-md-9">
                                    @*<h5>Your search for "User Input"</h5>
                                     <br>*@

                                <div class="box info-bar" style="margin-bottom:0px;">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 products-showing hidden-sm hidden-xs">
                                           Page <strong>1</strong> of <strong>1</strong>
                                        </div>

                                        <div class="col-sm-12 col-md-8  products-number-sort">
                                            <div class="row">
                                                <form class="form-inline">
                                                    <div class="col-md-6 col-sm-6 hidden-sm hidden-xs">
                                                        <div class="products-number">
                                                            <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary" style="color:white; background-color: #da4d4d;border-color: #da4d4d; border-radius: 5px;">12</a>  <a href="#" class="btn btn-default btn-sm" style="color:white; background-color: #da4d4d;border-color: #da4d4d; border-radius: 5px;">24</a>  <a href="#" class="btn btn-default btn-sm" style="color:white; background-color: #da4d4d;border-color: #da4d4d; border-radius: 5px;">All</a> products
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="products-sort-by">
                                                            <strong>Sort by</strong>
                                                            @{Html.RenderPartial("SearchSortby");}
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-bar hidden-md hidden-sm hidden-xs" style="">
                                    <a href="#"><label  style="text-decoration:underline;cursor:auto">&laquo;&nbsp;Previous</label></a>
                                    <a href="#" style="float:right;"><label  style="text-decoration:underline;cursor:auto;">Next&nbsp;&raquo;</label></a>
                                </div>


                                <!--Place in for each to show an entry for each item in database-->

                                @{Html.RenderPartial("SearchTours", new ViewDataDictionary(ViewData["CategAttrTours"]));}

                                <!--Place end of for each here-->
                                    <!-- /.col-md-4 -->
                                </div>
                                <!-- /.products -->

                               
                            </div>
                            <!-- /.col-md-9 -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /#content -->

