@using GAPT.Models
@model ViewModelIsland

<script>
    $(document).ready(function () {
        $(".selectedislands").click(function () {
            $.post('@Url.Action("SearchFilterIslands", "Home")', $('form').serialize(), function (data) {
                $('#searchtours').html(data);
            });
        });
    });
</script>

@foreach (var island in Model.Islands)
{
    <div class="checkbox" id="@{@island.Id}">
        <label>
            <input type="checkbox" class="selectedislands" name="selectedislands" value="@{@island.Id}">@island.Name
        </label>
    </div>
}