@*@{
    ViewBag.Title = "Forgot Password Confirmation";
}*@

@{
    ViewBag.Title = "Tours-Maltin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="clearfix">

    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->



            <br><br><br>
            <div class="box" style="padding-right:20px;padding-left:20px;margin-bottom:60px;">

                <div class="heading" style="margin-bottom:30px;">
                    <h3 class="text-uppercase">Forgot Password Confirmation</h3>
                    <p class="text-muted">Please check your email to reset your password.</p>
                </div>

            </div>
            <!-- /.box -->

        </div>
    </div>
</div>
	
