@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="clearfix">

    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <br><br><br>
            <div class="box" style="padding-right:20px;padding-left:20px;margin-bottom:60px;">

                <div class="heading" style="margin-bottom:30px;" id="ClickHere">
                    <h3 class="text-uppercase">@ViewBag.Title.</h3>
                    <p>
                        @*Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account")*@
                        @*, routeValues: null, htmlAttributes: new { id = "loginLink" }*@
                        @*Your password has been reset. Please @{Html.RenderPartial("login");}*@
                        Your password has been reset. Please <a href="javascript:;" onclick="runShowLogin()">click here to log in</a>
                    </p>
                </div>
                <div id="LoginHere" style="display: none">
                    @{Html.RenderPartial("login");}
                </div>
                <script>
                    function runShowLogin()
                    {
                        document.getElementById("ClickHere").style.display = "none";
                        document.getElementById("LoginHere").style.display = "block";
                    }

                </script>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
